#content_main{
	left: 90px;
	top: 120px;
}

#content_left{
		left: 90px;
	top: 120px;
	width: 40%;
	height: 40%;
}
#content_right >b{
		left: 90px;
	top: 120px;
	width: 50px;
	height: 30px;
	text-align: center;
}
nav{
		left: 90px;
	top: 120px;
	text-align: center;
	width: 100px;
	height: 30px;
}

