@charset "UTF-8";


h1, h2, h3, h4, h5{
	font-family: 'Noto Sans KR', sans-serif;
} 

body{
	font-family: 'Noto Sans KR', sans-serif;
}


*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	
}


.leftMenu{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 89px;
    text-align: center;
    background: #fff;
    border-right: 1px solid #dcdcdc;
    z-index: 999;
}


.upMenu {
	position: relative;
	z-index: 850px;
	height:100px;
	border-bottom: 1px solid #eeeeee;
/*	background: gray; */
	
}


.topTitle{
	padding-top:30px;
	float: left;
    display: inline-block; /*줄 바꿈x 크기설정o*/
    margin-right: 45px;
	font-size: 32px;
    letter-spacing: -0.5px; /*폰트 간격*/
}


.topTitle>a{
	text-decoration: none;
	color:#222222;
}



.upMenu#up>ul{
	position:relative;
	float: left;
	width: 300px;
	height: 30px;
	line-height: 120px;
	
}

.upMenu>ul>li{
	position:relative;
	float: left;
    margin-right: 25px;

}

.upMenu>ul>li#on>a{
	color: #5D5D5D;
	font-weight: 700;

}

.upMenu>ul>li>a{
	color: #BDBDBD;

}

.upMenu>ul>li>a:hover{
	color: #5D5D5D;

}


.topTitle{
	padding-top: 30px;
    float: left;
    display: inline-block;
    margin-right: 45px;
    font-size: 32px;
    letter-spacing: -0.5px;
    color: #222222;
}



/* 마이페이지 콘텐츠 시작  */

.contents{
	position: relative;
	max-width: 980px;
	margin: 0 auto;
	box-sizing: border-box;
	}
.mylevel{
	padding: 60px 0 20px;
    text-align: center;
}

.mylevel>img{
	display: block;
    margin: 0 auto;
    width: 108px;
    height: 108px;
}

.hello{
	margin-top: 13px;
    line-height: 26px;
}










/* 작성, 등록 버튼 */


.list_btn{
	text-align: center;
	margin-top: 40px;
}


/* .btn_list{
	width:180px;
    height: 30px;
    line-height: 29px;
    display: inline-block;
    background-color: black;
    padding: 10px 10px;
    text-align: center;
    color: white;
    overflow: hidden;
    font-size: 15px;
} */




.btn_list{
	text-align: center;
}

.button-4{
  width:180px;
  height:50px;
  text-align: center;
  border:1px solid black;
  float:left;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  background: black;
  left:30%;
  margin-right: 20px;
  
}
.button-4 a{
  font-family:arial;
  font-size:15px;
  color:white;
  text-decoration:none;
  line-height:50px;
  transition:all .3s ease;
  z-index:2;
  position:relative;
}
.eff-4{
  width:180px;
  height:50px;
  left:-180px;
  background:white;
  position:absolute;
  transition:all .3s ease;
  z-index:1;
}
.button-4:hover .eff-4{
  left:0;
}
.button-4:hover a{
  color:black;
}


.button-1{
  width:180px;
  height:50px;
  border:1px solid #8C8C8C;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  left:30%;
}
.button-1 span{
  font-family:arial;
  font-size:15px;
  color:#8C8C8C;
  text-decoration:none;
  line-height:50px;
  transition:all .3s ease;
  z-index:2;
  position:relative;
  width: 180px;
}
.eff-1{
  width:180px;
  height:50px;
  top:-2px;
  right:-180px;
  background:#8C8C8C;
  position:absolute;
  transition:all .3s ease;
  z-index:1;
}
.button-1:hover .eff-1{
  right:0;
  border: none;
}
.button-1:hover span{
  color:#fff;
}

















#footer{
	position: relative;
	padding-left:90px;	
	box-sizing: border-box;
	padding-top: 60px;
}

#footer>div{
	padding: 0 60px;
}

.footerT{
	padding: 0 60px;
	position:relative;
	border-top: 1px solid #eeeeee;
}

#footer .foot_menu {
    padding: 20px 0;
}

#footer .foot_menu ul {
    margin-left: -10px;
}

.foot_menu li{
	float: left;
	margin-right: 20px;
}

#footer .sitemap {
    position: absolute;
    right: 325px;
	width: 160px;
    height: 100%;
}

#footer .familysite {
    position: absolute;
    right: 168px;
 	width: 150px;
    height: 100%;
}

#footer .korean {
    position: absolute;
    right: 50px;
 	swidth: 110px;
    height: 100%;
}

.foot_menu::after{
	content: "";
    display: block;
    clear: both;
}

.footerM {
	position: relative;
    background: #f9f9f9;
}

.footInfo{
	padding: 25px 0;
    font-size: 12px;
    line-height: 24px;
    color: #999999;
}

.foot_sns {
    position: absolute;
    right: 55px;
    top: 45px;
}

.foot_sns>a>img{
	margin-right:20px;
}

.footerB{
	background: #f9f9f9;
    border-top: 1px solid #eeeeee;
}

.footMaker {
	font-size: 12px;
	color: #999999;
    padding: 30px 0 70px;
 
}


.footMaker span {
    display: inline-block;
    vertical-align: middle;
}

.footMaker>ul>li {
	float: left;
    position: relative;
    margin-right: 40px;
    font-size: 11px;
    line-height: 14px;
    color: #999999;
}


